# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/
/inventory_output/
/backups/
/printer_test.db

# Virtualenv
.venv/
venv/
ENV/

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Logs
*.xlsx

# Coverage
htmlcov/
.coverage

# Build
build/

# Node.js / Vue.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Vite build output
static/dist/

# Packages / Wheels
pip_packages/

# Secrets and Configs
.env
*.env
*.secret
secrets.json
config.json
printer_inventory/settings_local.py
