Django>=5.2.1
channels>=4.0.0
channels-redis>=4.1.0
daphne>=4.0.0
asgiref>=3.6.0
celery>=5.3.0
django-celery-beat>=2.5.0
django-redis>=5.3.0
redis>=4.5.0
python-dateutil>=2.8.2
requests>=2.28.0
psycopg[binary]>=3.1
python-dotenv
pytz
openpyxl
whitenoise
pandas
mozilla-django-oidc>=4.0.0
kombu>=5.3.0