{% extends "base.html" %}
{% block content %}
  <h2>Отчет для АМБ</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_template" class="form-label">Шаблон Excel</label>
      <input type="file" name="template" id="id_template" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Сгенерировать отчет</button>
    <a href="{% url 'inventory:printer_list' %}" class="btn btn-secondary">Отмена</a>
  </form>
{% endblock %}