{% extends "base.html" %}
{% load static %}

{% block title %}Список принтеров - Printer Inventory{% endblock %}

{% block content %}
<!-- Vue.js App Container -->
<div
  id="printer-list-page"
  data-user-id="{{ user.id }}"
  data-permissions='{{ permissions_json|safe }}'
  data-initial-data='{{ initial_data_json|safe }}'
></div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<!-- Подключаем Vue.js бандл -->
<link rel="stylesheet" href="{% static 'dist/css/main.BJjQepU6.css' %}">
<script type="module" src="{% static 'dist/js/main.BasoUgSt.js' %}"></script>

<script>
  console.log('Vue.js Printer List page loaded');
  console.log('Mount point:', document.getElementById('printer-list-page'));
</script>
{% endblock %}
