{% extends "base.html" %}
{% load static vite_tags %}

{% block title %}Service Desk · Printer Inventory{% endblock %}

{% block content %}
<div id="okdesk-dashboard-page"
     data-permissions='{{ permissions_json|safe }}'
     data-user-context='{{ user_context_json|safe }}'></div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<link rel="stylesheet" href="{% vite_css 'frontend/src/main.js' %}">
<script type="module" src="{% vite_asset 'frontend/src/main.js' %}"></script>
{% endblock %}
